.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .c { color: #888888; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .ch { color: #888888; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #888888; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #888888; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #888888; font-style: italic } /* Comment.Single */
.highlight .cs { color: #888888; font-weight: bold } /* Comment.Special */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold; font-style: italic } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { font-weight: bold } /* Keyword.Type */
.highlight .s { color: #666666; font-style: italic } /* Literal.String */
.highlight .nb { font-weight: bold; font-style: italic } /* Name.Builtin */
.highlight .nc { color: #666666; font-weight: bold; font-style: italic } /* Name.Class */
.highlight .no { color: #666666; font-weight: bold; font-style: italic } /* Name.Constant */
.highlight .nf { color: #666666; font-weight: bold; font-style: italic } /* Name.Function */
.highlight .nn { color: #666666; font-weight: bold; font-style: italic } /* Name.Namespace */
.highlight .nv { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .sb { color: #666666; font-style: italic } /* Literal.String.Backtick */
.highlight .sc { color: #666666; font-style: italic } /* Literal.String.Char */
.highlight .sd { color: #666666; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #666666; font-style: italic } /* Literal.String.Double */
.highlight .se { color: #666666; font-style: italic } /* Literal.String.Escape */
.highlight .sh { color: #666666; font-style: italic } /* Literal.String.Heredoc */
.highlight .si { color: #666666; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #666666; font-style: italic } /* Literal.String.Other */
.highlight .sr { color: #666666; font-style: italic } /* Literal.String.Regex */
.highlight .s1 { color: #666666; font-style: italic } /* Literal.String.Single */
.highlight .ss { color: #666666; font-style: italic } /* Literal.String.Symbol */
.highlight .bp { font-weight: bold; font-style: italic } /* Name.Builtin.Pseudo */
.highlight .vc { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Class */
.highlight .vg { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Global */
.highlight .vi { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Instance */
