.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .c { color: #888888; font-style: italic } /* Comment */
.highlight .err { background-color: #a848a8 } /* Error */
.highlight .k { color: #2838b0 } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .p { color: #888888 } /* Punctuation */
.highlight .ch { color: #287088; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #888888; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #289870 } /* Comment.Preproc */
.highlight .c1 { color: #888888; font-style: italic } /* Comment.Single */
.highlight .cs { color: #888888; font-style: italic } /* Comment.Special */
.highlight .gd { color: #c02828 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #c02828 } /* Generic.Error */
.highlight .gh { color: #666666 } /* Generic.Heading */
.highlight .gi { color: #388038 } /* Generic.Inserted */
.highlight .go { color: #666666 } /* Generic.Output */
.highlight .gp { color: #444444 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #444444 } /* Generic.Subheading */
.highlight .gt { color: #2838b0 } /* Generic.Traceback */
.highlight .kc { color: #444444; font-style: italic } /* Keyword.Constant */
.highlight .kd { color: #2838b0; font-style: italic } /* Keyword.Declaration */
.highlight .kn { color: #2838b0 } /* Keyword.Namespace */
.highlight .kp { color: #2838b0 } /* Keyword.Pseudo */
.highlight .kr { color: #2838b0 } /* Keyword.Reserved */
.highlight .kt { color: #2838b0; font-style: italic } /* Keyword.Type */
.highlight .m { color: #444444 } /* Literal.Number */
.highlight .s { color: #b83838 } /* Literal.String */
.highlight .na { color: #388038 } /* Name.Attribute */
.highlight .nb { color: #388038 } /* Name.Builtin */
.highlight .nc { color: #287088 } /* Name.Class */
.highlight .no { color: #b85820 } /* Name.Constant */
.highlight .nd { color: #287088 } /* Name.Decorator */
.highlight .ni { color: #709030 } /* Name.Entity */
.highlight .ne { color: #908828 } /* Name.Exception */
.highlight .nf { color: #785840 } /* Name.Function */
.highlight .nl { color: #289870 } /* Name.Label */
.highlight .nn { color: #289870 } /* Name.Namespace */
.highlight .nt { color: #2838b0 } /* Name.Tag */
.highlight .nv { color: #b04040 } /* Name.Variable */
.highlight .ow { color: #a848a8 } /* Operator.Word */
.highlight .w { color: #a89028 } /* Text.Whitespace */
.highlight .mb { color: #444444 } /* Literal.Number.Bin */
.highlight .mf { color: #444444 } /* Literal.Number.Float */
.highlight .mh { color: #444444 } /* Literal.Number.Hex */
.highlight .mi { color: #444444 } /* Literal.Number.Integer */
.highlight .mo { color: #444444 } /* Literal.Number.Oct */
.highlight .sb { color: #b83838 } /* Literal.String.Backtick */
.highlight .sc { color: #a848a8 } /* Literal.String.Char */
.highlight .sd { color: #b85820; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #b83838 } /* Literal.String.Double */
.highlight .se { color: #709030 } /* Literal.String.Escape */
.highlight .sh { color: #b83838 } /* Literal.String.Heredoc */
.highlight .si { color: #b83838; text-decoration: underline } /* Literal.String.Interpol */
.highlight .sx { color: #a848a8 } /* Literal.String.Other */
.highlight .sr { color: #a848a8 } /* Literal.String.Regex */
.highlight .s1 { color: #b83838 } /* Literal.String.Single */
.highlight .ss { color: #b83838 } /* Literal.String.Symbol */
.highlight .bp { color: #388038; font-style: italic } /* Name.Builtin.Pseudo */
.highlight .vc { color: #b04040 } /* Name.Variable.Class */
.highlight .vg { color: #908828 } /* Name.Variable.Global */
.highlight .vi { color: #b04040 } /* Name.Variable.Instance */
.highlight .il { color: #444444 } /* Literal.Number.Integer.Long */
